<!DOCTYPE html>
<html>
    <head>
        <title>Estacion Meteorologica</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <h1>Estacion Meteorologica</h1>
        <div class= "container">
            <div class= "gaugeTemp" id="gaugeTemp" >  </div>
            <div class= "gaugeHum" id="gaugeHum" > </div>
            <div class= "gaugeViento" id="gaugeViento" > </div>
        </div>
    
        <!------------------Critico--------------------------------->
        <p class="label_alerta" id="label_alertaMet"> ¡Alerta Meterologica Encendida! </p>
        <p class="label_alerta" id= "label_gabinete" > ¡Gabinete Abierto! </p>


        <!------------------Luces--------------------------------->
        <hr>
        <form method="POST" >
            <p> Horario Encendido Luces: <label id="label_luces_encendido"></label> </p>
            <p> Horario Apagado Luces:   <label id="label_luces_apagado"></label> </p>
        </form>

        <form method="POST" action="/">
            <input type="submit" value="Admin">
        </form>


        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="/socket.io/socket.io.js" charset="UTF-8"></script>
        <script src="/main.js" charset="UTF-8"></script>
    </body>
</html>