.container{
    overflow:hidden;
    text-align: center;
}
.critContainer{
    overflow:hidden;
    text-align: center;
    margin-left: 15em;
}

.gaugeContainer{
    overflow:hidden;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.item{
    
    padding: 0.5em;
    float: left;
}

.gaugeViento{
    margin: 0 auto;
    float: left;
    width: 120px; 
    height: 120px;
}

.gaugeHum{
    margin: 0 auto;
    float: left;
    width: 120px; 
    height: 120px;
}
.gaugeTemp{
    margin: 0 auto;
    float: left;
    width: 120px; 
    height: 120px;
}

.label_alerta{
    font-weight: bold;
    color: red;
    display: none;
}

#reporteExcel, #reportePDF {
    cursor: pointer;
}